

p, li, td, span {
  font-size:1.6em;
}
p {
  line-height:1.5;
}

nav {
  background: #FF530D;
}

nav ul, header h1, header h2, main {
  margin:0 20px;
}
@media (min-width:1000px) {
  nav ul, header h1, header h2, main {
    margin:0 auto;
    width:960px;  
  }
  
}

header h1 {
  background:url(/images/logo.png) left top no-repeat;
  background-size:contain;
  margin-bottom:30px;
  margin-top:40px;
  text-indent:-9999px;
}

nav li {
  float:left;
  list-style-type: none;
  margin-bottom:0;
}

nav li a {
  border:white solid 1px;
  color:white;
  display:block;
  margin:10px;
  padding:10px 30px;
  text-decoration:none;
}
nav li a:first-child {
  margin-left:0;
}

nav li a:hover {
  background:white;
  color:#FF530D;
}